<h3 style="text-align: center; padding-top: 4px">
    Pedidos
</h3>
<hr>

<section class="padding">
    <div class="row">
        <div style="margin-top: 3%" class="col-lg-3 col-md-4 col-xs-12 col-sm-6">


          <mat-card class="example-card">
                <mat-card-header>
                 
                  <mat-card-title>Pedido 1</mat-card-title>
                  <mat-card-subtitle>Mesa 1</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/img/plato-de-comida.jpg" alt="Photo of a Pedido">
                <mat-card-content>
                  <p>
                   Este pedido fue realizado en la Mesa 1 y esta a la espera de ser atendido
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Aceptar</button>
                  <button mat-button>Rechazar</button>
                </mat-card-actions>
              </mat-card>


            </div>


        <div style="margin-top: 3%" class="col-lg-3 col-md-4 col-xs-12 col-sm-6">


                <mat-card class="example-card">
                        <mat-card-header>
                         
                          <mat-card-title>Pedido 2</mat-card-title>
                          <mat-card-subtitle>Mesa 1</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/plato-de-comida.jpg" alt="Photo of a Pedido">
                        <mat-card-content>
                          <p>
                           Este pedido fue realizado en la Mesa 1 y esta a la espera de ser atendido
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>Aceptar</button>
                          <button mat-button>Rechazar</button>
                        </mat-card-actions>
                      </mat-card>
        </div>
        <div style="margin-top: 3%" class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                <mat-card class="example-card">
                        <mat-card-header>
                         
                          <mat-card-title>Pedido 3</mat-card-title>
                          <mat-card-subtitle>Mesa 1</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/plato-de-comida.jpg" alt="Photo of a Pedido">
                        <mat-card-content>
                          <p>
                           Este pedido fue realizado en la Mesa 1 y esta a la espera de ser atendido
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>Aceptar</button>
                          <button mat-button>Rechazar</button>
                        </mat-card-actions>
                      </mat-card>
        </div>
        <div style="margin-top: 3%" class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
               
          <mat-card class="example-card">
                        <mat-card-header>
                         
                          <mat-card-title>Pedido 4</mat-card-title>
                          <mat-card-subtitle>Mesa 1</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/plato-de-comida.jpg" alt="Photo of a Pedido">
                        <mat-card-content>
                          <p>
                           Este pedido fue realizado en la Mesa 1 y esta a la espera de ser atendido
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>Aceptar</button>
                          <button mat-button>Rechazar</button>
                        </mat-card-actions>
                      </mat-card>
        </div>
       
    </div>


</section>


<!--<div class="row">
    <div *ngFor="let item of pedidos" class="col-md-4">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.nombre}}</mat-card-title>
                <mat-card-subtitle>{{item.estado}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.imageb64}}" alt="Photo of a Pedido">
            <mat-card-content>
                <p>
                    Nuevo pedido con Fecha {{item.fecha_pedido}} y con la hora {{item.hora_pedido}} de pedido realizado por {{item.nombre_cliente}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="aceptar(item.id_pedido)" mat-button>Aceptar</button>

            </mat-card-actions>
        </mat-card>
    </div>
</div>-->


<br>

<h3>
    Mesas
</h3>
<hr>
<mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> Numero de la Mesa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.num_mesa}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo de mesa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo_mesa}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
</mat-table>