.example-card {
    max-width: 400px;
    margin-top: 10px;
    display: block;
    margin: auto;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.mat-card-image {
    border-radius: 5%;
    width: calc(100% + 16px);
    margin: 0px -16px 16px -8px;
}

@media only screen and (max-width:470px) {
    .c  {
        margin-top: 5%;
    }
   
}