.sty {
    background-color: #fbf7f7;
    position: relative;
    width: 50%;
    border-radius: 10px;
}
.bajar{
    margin-top: 5%;
}
.top {
    margin-top: 2%;
    
}
@media only screen and (max-width:470px) {
    .c  {
        margin-top: 3%;
    }
   
}
