<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Restaurant Admin Web</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Bienvenido: Administrador
            </p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestionar
                    ofertas</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['gestionar_ofertas']">Ofertas del día</a>
                    </li>
                    <!-- si quiere agregar mas items en el menu -->
                    <li>
                        <a [routerLink]="['lista_de_ofertas']">Lista de ofertas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a [routerLink]="['gestionar_comida']">Gestionar Platos</a>
                    </li>
                    <li>
                        <a [routerLink]="['lista_de_comida']">Gestionar Mesas</a>
                    </li>
                    <li>
                        <a [routerLink]="['gestionar_bebida']">Gestionar Cargos</a>
                    </li>
                    <li>
                        <a [routerLink]="['lista_de_bebida']">Lista de bebidas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['pedidos']">Pedidos</a>
            </li>
            <!-- <li>
                <a href="#">Contact</a>
            </li> -->
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a [routerLink]="['']" class="article">Cerrar sesión</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-justify"></i>
                </button>
                <!-- <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div> -->

            </div>
        </nav>


    </div>
</div>