<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"  fixedInViewport="true" mode="over">
        <mat-toolbar>Opciones</mat-toolbar>
        <mat-nav-list>
                <a mat-list-item  [routerLink]="['/dashboard']"><i class="material-icons color">home</i> <span class="padxd">Inicio</span> </a>
            <a mat-list-item (click)="closemenu()"  [routerLink]="['pedidos']"><i class="material-icons color">whatshot</i> <span class="padxd">Pedidos</span> </a>
            <a mat-list-item   [routerLink]="['ofertas dia']"  ><i class="material-icons color">shop_two</i> <span class="padxd">Ofertas del día</span> </a>
            <a mat-list-item   [routerLink]="['listar ofertas']"><i class="material-icons color">speaker_notes</i> <span class="padxd">Lista de ofertas</span> </a>
            <a mat-list-item   (click)="ruta()">
                <mat-icon class="color" svgIcon="thumbs-up"></mat-icon> <span class="padxd">Gestionar Platos</span>
            </a>
            <a mat-list-item  [routerLink]="['gestionar mesas']" >
                <mat-icon class="color" svgIcon="mesa"></mat-icon> <span class="padxd">Gestionar Mesas</span></a>
            <a mat-list-item  [routerLink]="['gestionar cargos']"  >
                <mat-icon class="color" svgIcon="cargo"></mat-icon> <span class="padxd">Gestionar Cargos</span></a>
            <a mat-list-item  [routerLink]="['gestionar bebidas']" >
                <mat-icon class="color" svgIcon="bedida"></mat-icon> <span class="padxd">Gestionar Bedidas</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span class="displ">Restaurante</span>
            <div _ngcontent-c1="" class="flex-spacer"></div>
            <span style="margin-right: 1%">Administador</span>
            <img style="width: 50px" src="../../assets/icon/admin.png" alt="">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon aria-label="Side nav toggle icon">more_vert
                  </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><i style="position: relative; top: 6px; color:#3f51b5" class="material-icons">account_circle</i> Perfil</button>
                <button mat-menu-item> <i style="position: relative; top: 6px; color:#3f51b5" class="material-icons">exit_to_app</i>Cerrar sesión</button>
            </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>