.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important; 
    margin-left: 0px !important; 
}

@media only screen and (max-width:470px) {
    .displ {
        display: none;
    }
}

.flex-spacer {
    flex-grow: 1;
}

.color {
    color: #3f51b5;
}

.padxd {
    padding-left: 9px;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}

.sidenav[_ngcontent-c1] .mat-toolbar[_ngcontent-c1] {
    color: white;
    background-color: #3f51b5;
    /* background: inherit; */
}