<div class="body">
  <div class="row">
    <div class="col-lg-12">
      <h4>Crear datos de bebidas</h4>
      <hr>
    </div>
  </div>
  <form id="formulario_ofertas">
    <div class="row">
      <div class="col-lg-4 form-group">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Tipo de bebida">
            <mat-option value="1">Licores</mat-option>
            <mat-option value="2">Cocteleria</mat-option>
            <mat-option value="3">Gaseosas</mat-option>
            <mat-option value="4">Jugos Naturales</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <input matInput autocomplete="off" placeholder="Nombre de la bebida">
        </mat-form-field>
      </div>
      <div class="col-lg-4 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <input type="number" autocomplete="off" matInput class="example-right-align" placeholder="Ingrese el precio">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
      <div class="col-lg-12 form-group">
        <label for="">Imagen del producto:</label>
        <br>
        <div class="input-group">
          <label class="input-group-btn txtimagen">
            <span class="btn btn-primary btn-file">
              Seleccionar imagen&hellip; <input type="file" style="display: none;">
            </span>
          </label>
          <input type="text" class="form-control" readonly>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <textarea matInput placeholder="Descripcion del producto"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-12 form-group">
        <button mat-raised-button color="accent">Continuar</button>
      </div>
    </div>
  </form>
</div>