<div class="contet">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
     
        <div class="glitch" data-text="404">404</div> 
        <div class="textSection-VxrDfG">
            <h4 class="margin-top-8 margin-bottom-8 wizards-3zNz6o weightBold-13i9Oz">¿Magos detrás de las cortinas?</h4>
            <div class="suggestionText-WBoeJA weightLight-1eftia">Eso es muy de 1939. RestauranteWeb  llevan en secreto unos picapiedras que tratan de reanudar la conexión. La tecnología es una locura, ¿no? De todas formas, parece que te has perdido. Aquí te sugerimos algunas páginas.</div>
            <ul class="linksSection-rDqBb7">
              <li><a class="links-1CveUN" [routerLink]="['/dashboard']">Dashboard</a></li>
              <li><a class="links-1CveUN">Edwin Puello</a></li>
              <li><a class="links-1CveUN">Jhonatan Cudris</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="../../../../assets/gif/404.gif" class="img-fluid top39" alt="">
      </div>
  </div>
</div>