.contet{
    height: 100%;
    width: 100%;
    background-color: white
}

.textSection-VxrDfG {
    margin-right: 10%;
    max-width: 500px;
    padding-left: 20px;
}

@media only screen and (min-width: 700px) {
    .top39{
        width: 100%;
        top: 23%;
        position: relative;
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 700px) {
    .top39{
        top: 4%;
        position: relative;
        display: block;
        margin: auto;
    }
}

.glitchWrapper-209Ebg {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    height: 150px;
    order: 2;
    padding: 20px 0;
}

.glitch-1ZnYvx {
    color: rgba(255, 14, 82, 0.3);
    display: inline-block;
    font-family: ArchivoBlack,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 150px;
    font-weight: 700;
    position: relative;
}


.glitch-1ZnYvx:after, .glitch-1ZnYvx:before {
    background: #f6f6f7;
    content: attr(data-text);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.glitch-1ZnYvx:before {
    -webkit-animation: glitch-anim-2-3Jj1Wz 4s infinite linear alternate-reverse;
    animation: glitch-anim-2-3Jj1Wz 4s infinite linear alternate-reverse;
    clip: rect(24px,550px,90px,0);
    left: 2px;
        text-shadow: -2px 0 #e3e7f8;
    }
    
.glitch {
    font-family: ArchivoBlack,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
   
    font-weight: 700;
    color: rgba(114,137,218,.3);
    font-size: 150Px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
                                .glitch-1ZnYvx:after {
                                    -webkit-animation: glitch-anim-n2MEks 2s infinite linear alternate-reverse;
                                    animation: glitch-anim-n2MEks 2s infinite linear alternate-reverse;
                                    clip: rect(85px,550px,140px,0);
                                    left: -2px;
                                    text-shadow: -2px 0 rgba(114,137,218,.3);
                                }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -2px 0 #e3e7f8;
    top: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(55px, 9999px, 4px, 0);
    }
    5% {
      clip: rect(90px, 9999px, 10px, 0);
    }
    10% {
      clip: rect(48px, 9999px, 58px, 0);
    }
    15% {
      clip: rect(2px, 9999px, 57px, 0);
    }
    20% {
      clip: rect(55px, 9999px, 53px, 0);
    }
    25% {
      clip: rect(60px, 9999px, 33px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 43px, 0);
    }
    35% {
      clip: rect(59px, 9999px, 40px, 0);
    }
    40% {
      clip: rect(19px, 9999px, 64px, 0);
    }
    45% {
      clip: rect(3px, 9999px, 25px, 0);
    }
    50% {
      clip: rect(46px, 9999px, 15px, 0);
    }
    55% {
      clip: rect(49px, 9999px, 37px, 0);
    }
    60% {
      clip: rect(68px, 9999px, 30px, 0);
    }
    65% {
      clip: rect(14px, 9999px, 79px, 0);
    }
    70% {
      clip: rect(94px, 9999px, 100px, 0);
    }
    75% {
      clip: rect(89px, 9999px, 34px, 0);
    }
    80% {
      clip: rect(31px, 9999px, 63px, 0);
    }
    85% {
      clip: rect(30px, 9999px, 68px, 0);
    }
    90% {
      clip: rect(4px, 9999px, 48px, 0);
    }
    95% {
      clip: rect(24px, 9999px, 26px, 0);
    }
    100% {
      clip: rect(1px, 9999px, 15px, 0);
    }
  }
  .glitch:after {
    clip: rect(85px,550px,140px,0);
      left: -2px;
      text-shadow: -2px 0 rgba(114,137,218,.3);
      content: attr(data-text);
      position: absolute;
    top: 0;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
}


  @keyframes noise-anim-2 {
    0% {
      clip: rect(63px, 9999px, 83px, 0);
    }
    5% {
      clip: rect(38px, 9999px, 1px, 0);
    }
    10% {
      clip: rect(13px, 9999px, 69px, 0);
    }
    15% {
      clip: rect(41px, 9999px, 67px, 0);
    }
    20% {
      clip: rect(73px, 9999px, 16px, 0);
    }
    25% {
      clip: rect(78px, 9999px, 43px, 0);
    }
    30% {
      clip: rect(83px, 9999px, 79px, 0);
    }
    35% {
      clip: rect(36px, 9999px, 45px, 0);
    }
    40% {
      clip: rect(16px, 9999px, 31px, 0);
    }
    45% {
      clip: rect(5px, 9999px, 62px, 0);
    }
    50% {
      clip: rect(77px, 9999px, 92px, 0);
    }
    55% {
      clip: rect(94px, 9999px, 100px, 0);
    }
    60% {
      clip: rect(84px, 9999px, 3px, 0);
    }
    65% {
      clip: rect(51px, 9999px, 64px, 0);
    }
    70% {
      clip: rect(69px, 9999px, 26px, 0);
    }
    75% {
      clip: rect(67px, 9999px, 40px, 0);
    }
    80% {
      clip: rect(54px, 9999px, 90px, 0);
    }
    85% {
      clip: rect(12px, 9999px, 10px, 0);
    }
    90% {
      clip: rect(46px, 9999px, 95px, 0);
    }
    95% {
      clip: rect(76px, 9999px, 65px, 0);
    }
    100% {
      clip: rect(93px, 9999px, 55px, 0);
    }
  }
  
  .margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-top-8 {
    margin-top: 8px;
}

.wizards-3zNz6o {
    color: #72767d;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
}

.weightBold-13i9Oz {
    font-weight: 700;
}

.suggestionText-WBoeJA {
    color: #b9bbbe;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
}

.weightLight-1eftia {
    font-weight: 300;
}
.linksSection-rDqBb7 {
    margin-top: 20px;
}

ol, ul {
    list-style: none;
}