.btn-file {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-btn{
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.example-right-align {
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none; 
  -o-appearance: none;
  appearance: none; 
  margin: 0; 
}