<div class="body">
  <div class="row">
    <div class="col-lg-12">
      <h4>Crear nueva oferta del día</h4>
      <hr>
    </div>
  </div>
  <form id="formulario_ofertas" [formGroup]="ofertas_form">
    <div class="row">
      <div class="col-lg-6 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <input formControlName="producto" matInput autocomplete="off" placeholder="Nombre del Plato">
        </mat-form-field>
      </div>
      <div class="col-lg-6 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <input formControlName="Precio" type="number" autocomplete="off" matInput class="example-right-align"
            placeholder="Ingrese el precio">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
      <div class="col-lg-12 form-group">
        <label for="">Imagen del producto:</label>
        <br>
        <div class="input-group">
          <label class="input-group-btn txtimagen">
            <span class="btn btn-primary btn-file">
              Seleccionar imagen&hellip; <input type="file" style="display: none;" formControlName="imagen">
            </span>
          </label>
          <input type="text" class="form-control" readonly>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <mat-form-field style="width: 100%" class="example-full-width">
          <textarea formControlName="descripcion" matInput placeholder="Descripcion del producto"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-12 form-group">
        <button mat-raised-button [disabled]="!ofertas_form.valid" (click)="submit_handler()" color="accent">Crear
          plato como
          oferta</button>
      </div>
    </div>
  </form>
</div>